<td class="vote-cell">
    <a href="#" data-agree="{{consensus}}" class="{{youAgree agree}}">^</a>
</td>
<td class="moment"><textarea>{{body}}</textarea></td>
<td class="type-cell">
    <a class="type {{type type "action"}}" data-type="action" href="#">A</a>
    <a class="type {{type type "decision"}}" data-type="decision" href="#">D</a>
    <a class="type {{type type "info"}}" data-type="info" href="#">I</a>
</td>
