<td class="vote-cell">
    <div>
        <span class="percent-agree">{{consensusPercent agree.length attendees}}</span>
        <a href="#" data-agree="{{youAgree agree}}" class="{{youAgree agree}}">^</a>
    </div>
</td>
<td class="moment"><textarea>{{body}}</textarea></td>
<td class="type-cell">
    <a class="type {{type type "action"}}" title="Action" data-type="action" href="#">A</a>
    <a class="type {{type type "decision"}}" title="Decision" data-type="decision" href="#">D</a>
    <a class="type {{type type "info"}}" title="Info" data-type="info" href="#">I</a>
</td>
